bin/Debug/net5.0/PPMLib.dll
bin/Debug/net5.0/PPMLib.pdb
bin/Debug/net5.0/ref/PPMLib.dll
bin/Release/net5.0/PPMLib.deps.json
bin/Release/net5.0/PPMLib.dll
bin/Release/net5.0/PPMLib.pdb
bin/Release/net5.0/publish/PPMLib.deps.json
bin/Release/net5.0/publish/PPMLib.dll
bin/Release/net5.0/publish/PPMLib.pdb
bin/Release/net5.0/publish/SixLabors.ImageSharp.dll
bin/Release/net5.0/ref/PPMLib.dll
bin/Release/net5.0/win-x64/PPMLib.deps.json
bin/Release/net5.0/win-x64/PPMLib.dll
bin/Release/net5.0/win-x64/PPMLib.pdb
bin/Release/net5.0/win-x64/publish/PPMLib.deps.json
bin/Release/net5.0/win-x64/publish/PPMLib.dll
bin/Release/net5.0/win-x64/publish/PPMLib.pdb
bin/Release/net5.0/win-x64/publish/SixLabors.ImageSharp.dll
bin/Release/net5.0/win-x64/ref/PPMLib.dll
obj/Debug/net5.0/PPMLib.csprojAssemblyReference.cache
obj/Debug/net5.0/PPMLib.dll
obj/Debug/net5.0/PPMLib.pdb
obj/Debug/net5.0/ref/PPMLib.dll
obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/PPMLib.AssemblyInfo.cs
obj/Release/net5.0/PPMLib.AssemblyInfoInputs.cache
obj/Release/net5.0/PPMLib.assets.cache
obj/Release/net5.0/PPMLib.csproj.CoreCompileInputs.cache
obj/Release/net5.0/PPMLib.csproj.FileListAbsolute.txt
obj/Release/net5.0/PPMLib.csprojAssemblyReference.cache
obj/Release/net5.0/PPMLib.dll
obj/Release/net5.0/PPMLib.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0/PPMLib.pdb
obj/Release/net5.0/PublishOutputs.b2287ce6fc.txt
obj/Release/net5.0/any/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/any/PPMLib.AssemblyInfo.cs
obj/Release/net5.0/any/PPMLib.AssemblyInfoInputs.cache
obj/Release/net5.0/any/PPMLib.assets.cache
obj/Release/net5.0/any/PPMLib.csproj.CoreCompileInputs.cache
obj/Release/net5.0/any/PPMLib.csproj.FileListAbsolute.txt
obj/Release/net5.0/any/PPMLib.csprojAssemblyReference.cache
obj/Release/net5.0/any/PPMLib.dll
obj/Release/net5.0/any/PPMLib.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0/any/PPMLib.pdb
obj/Release/net5.0/any/PublishOutputs.e4d6f11545.txt
obj/Release/net5.0/any/ref/PPMLib.dll
obj/Release/net5.0/ref/PPMLib.dll
obj/Release/net5.0/win-x64/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/win-x64/PPMLib.AssemblyInfo.cs
obj/Release/net5.0/win-x64/PPMLib.AssemblyInfoInputs.cache
obj/Release/net5.0/win-x64/PPMLib.assets.cache
obj/Release/net5.0/win-x64/PPMLib.csproj.CoreCompileInputs.cache
obj/Release/net5.0/win-x64/PPMLib.csproj.FileListAbsolute.txt
obj/Release/net5.0/win-x64/PPMLib.csprojAssemblyReference.cache
obj/Release/net5.0/win-x64/PPMLib.dll
obj/Release/net5.0/win-x64/PPMLib.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0/win-x64/PPMLib.pdb
obj/Release/net5.0/win-x64/PublishOutputs.8f9972ebaa.txt
obj/Release/net5.0/win-x64/ref/PPMLib.dll
bin/Debug/net5.0/PPMLib.dll
bin/Debug/net5.0/PPMLib.pdb
bin/Debug/net5.0/ref/PPMLib.dll
obj/Debug/net5.0/PPMLib.csprojAssemblyReference.cache
obj/Debug/net5.0/PPMLib.dll
obj/Debug/net5.0/PPMLib.pdb
obj/Debug/net5.0/ref/PPMLib.dll
bin/Debug/net5.0/PPMLib.dll
bin/Debug/net5.0/PPMLib.pdb
bin/Debug/net5.0/ref/PPMLib.dll
obj/Debug/net5.0/PPMLib.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/PPMLib.csprojAssemblyReference.cache
obj/Debug/net5.0/PPMLib.dll
obj/Debug/net5.0/PPMLib.pdb
obj/Debug/net5.0/ref/PPMLib.dll
bin/Debug/net5.0/PPMLib.deps.json
bin/Debug/net5.0/PPMLib.dll
bin/Debug/net5.0/PPMLib.pdb
bin/Debug/net5.0/ref/PPMLib.dll
bin/Debug/net5.0/ref/PPMLib.dll
bin/Debug/net5.0/PPMLib.deps.json
bin/Debug/net5.0/PPMLib.dll
bin/Debug/net5.0/PPMLib.pdb
bin/Debug/net5.0/ref/PPMLib.dll
